body {
    margin: 0;
}

.box {
    height: auto;
    width: auto;
    background-color: #a9a9a9;
}

.header {
    background-color: #696969;
    height: 50px;
    width: 100%;
}

.header img {
    margin-left: 40px;
    height: 40px;
    width: 40px;
    margin-top: 5px;
}

.content {
    width: 100%;
    height: 2350px;
    background-color: #a9a9a9;
}

.footer {
    background-color: black;
    margin: 0;
    line-height: 40px;
    width: 100%;
    position: absolute;
}

.left {
    width: 65%;
    height: auto;
    float: left;
    background-color: #a9a9a9;
}

.right {
    width: 30%;
    height: 450px;
    float: right;
    background-color: #a9a9a9;
    margin-right: 20px;
}

.lft-box1 {
    width: 100%;
    height: 700px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
}

.lft-box1 p {
    text-indent: 2em;
    margin: 0;
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.lft-box1 span {
    display: block;
    margin: 0;
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.lft-box1 img {
    height: 280px;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lft-box2 {
    width: 100%;
    height: 700px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
}

.lft-box2 p {
    text-indent: 2em;
    margin: 0;
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.lft-box2 span {
    display: block;
    margin: 0;
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.lft-box2 img {
    height: 280px;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.lft-box2 li {
    list-style: none;
}

.lft-box3 {
    width: 100%;
    height: 350px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
}

.lft-box3 img {
    width: 100px;
    height: 100px;
}

.box3-img {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.lft-box4 {
    width: 100%;
    height: 400px;
    background-color: white;
    margin: 15px;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
}

.lft-box4 table {
    border: 1px solid black;
}

.lft-box4 th,
td {
    width: 400px;
}

.rgt-box {
    width: 90%;
    height: 550px;
    padding: 15px;
    margin: 15px;
    background-color: white;
    box-shadow: 2px 2px 5px black;
}

.r-rbox p {
    color: #a9a9a9;
    font-size: 15px;
}

.r-head {
    height: 8%;
    margin-left: 20px;
}

.r-container {
    height: 75%;
}

.r-footer input {
    width: 80%;
    height: 40px;
    background-color: #4169e1;
    color: white;
    border-radius: 10px;
    border: 1px white;
    outline: none;
}

.r-lbox {
    width: 35%;
    float: left;
    margin-left: 35px;
}

.r-rbox {
    width: 55%;
    float: right;
    margin-top: 10px;
}

.right input {
    margin: 5px;
    margin-left: 0;
}

.r-rbox select {
    display: block;
    margin: 10px;
    margin-left: 0;
}

.r-rbox textarea {
    margin: 5px;
    margin-left: 0;
}

.r-lbox p {
    margin: 10px;
    text-align: right;
}

.header ul {
    float: right;
}

.header li {
    display: inline-flex;
    margin-right: 30px;
    font-size: 15px;
}

.header span {
    display: list-item;
}

.header a {
    color: white;
    text-decoration: none;
}

.footer p {
    text-align: center;
    color: white;
}